<!doctype html>
<html>
	<head>
		<title>{{{page.title}}}</title>
		<link rel="stylesheet" href="vendor/css/normalize.css"/>
		<link rel="stylesheet" href="css/layout.css"/>
		<link rel="stylesheet" href="css/404.css"/>
	</head>
	<body>
		<header>
			<div class="heading"><a href="/">Handlebars</a></div>
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/store">Store</a></li>
			</ul>
		</header>
		<div class="container">
			{{{body}}}
		</div>
	</body>
</html>